<h3>reactive form (model driven)</h3>
<form [formGroup]="personForm" (ngSubmit)="onSumbit()" autocomplete="off">
  
  <mat-form-field>
    <input type="text" formControlName="firstName" matInput placeholder="First name" required>
    <mat-error *ngIf="personForm.get('firstName').hasError('required')">Please enter a name</mat-error>
    <mat-error *ngIf="personForm.get('firstName').hasError('minlength')">Please enter at least 3 characters</mat-error>
  </mat-form-field>

  <app-form-field [errors]="getErrors('lastName')">
    <input type="text" formControlName="lastName" matInput placeholder="Last name" required>
  </app-form-field>

  <div>
    <button type="submit" mat-raised-button color="primary" [disabled]="personForm.invalid">Save</button>
    <button type="reset" mat-raised-button (click)="personForm.reset()">Reset</button>
  </div>
</form>
